html, body {
	margin: 0;
	padding: 0;
	
}

.app {
	min-height: 100vh;
	position: relative;
}

.butts {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);	
}

.bap {
  background-color: red;
  height: 25px;
}
